*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 62.5%;  */
 }
 :root{
     --white: #FFFFFF;
     --black: #000000;
     --very-light-pink: #C7C7C7;
     --Text-input-field: #F7F7F7;
     --hospital-green: #ACD9B2;
     --sm: 14px;
     --md: 16px;
     --lg: 18px
 }

 .menu{
     display: none;
     width: 40px;
 }

 .logo{
     width: 150px;
 }

 .navbar-left ul,
 .navbar-right ul{
     list-style: none;
     display: flex;
     align-items: center;
     height: 80px;
 }
 
 nav{
     display: flex;
     width: 100%;
     justify-content: space-between;
     padding: 0 24px;
     height: 80px;
     border-bottom: 1px solid var(--very-light-pink);
 }

 .navbar-left{
     display: flex;
 }

 .navbar-left ul{
     margin-left: 12px;
 }

 .navbar-left ul li a,
 .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
 }

 .navbar-left ul li a:hover,
 .navbar-right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
 }

 .navbar-email{
     color: var(--very-light-pink);
     font-size: var(--sm);
     margin-right: 12px;
 }

 .navbar-shopping-cart {
     position: relative;
 }

 .navbar-shopping-cart div{
     width: 18px;
     height: 18px;
     background-color: var(--hospital-green);
     border-radius: 50%;
     font-size: var(--sm);
     font-weight: bold;
     position: absolute;
     top: -10px;
     right: -7px;
     display: flex;
     justify-content: center;
 }

 @media(max-width: 640px){
     .menu{
         display: block;
     }
     .navbar-left ul{
         display: none;
     }
     .navbar-email{
         display: none;
     }
 }