*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 62.5%;  */
 }
 :root{
     --white: #FFFFFF;
     --black: #000000;
     --very-light-pink: #C7C7C7;
     --Text-input-field: #F7F7F7;
     --hospital-green: #ACD9B2;
     --sm: 14px;
     --md: 16px;
     --lg: 18px
 }

 .product-detail{
     width: 300px;
     padding-bottom: 24px;
 }

 .product-detail-close{
     background: var(--white);
 }

 .product-detail-close img:hover{
     cursor: pointer;
 }

 .product-detail-close img{
    position: absolute;
    top: 12px;
    left: 12px;
}

 .primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}