*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 62.5%;  */
 }
 :root{
     --white: #FFFFFF;
     --black: #000000;
     --very-light-pink: #C7C7C7;
     --Text-input-field: #F7F7F7;
     --hospital-green: #ACD9B2;
     --sm: 14px;
     --md: 16px;
     --lg: 18px
 }

 .cards-container{
     display: grid;
     grid-template-columns: repeat(auto-fill, 240px);
     gap: 26px;
     place-content: center;
     margin-top: 25px;
     margin-bottom: 25px;
 }

 .product-card{
     width: 240px;
 }
 .product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12PX;
}

.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0PX;
    margin-bottom: 4PX;
}
.product-info div p:nth-child(2){
    /* font-weight: bold; */
    font-size: var(--sm);
    margin-top: 0PX;
    margin-bottom: 0PX;
    color: var(--very-light-pink);
}

@media(max-width: 640px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);

    }
    .product-card{
        width: 140px;
    }
    .product-card img{
       width: 140px;
       height: 140px;
   }
}