*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 62.5%;  */
 }
 :root{
     --white: #FFFFFF;
     --black: #000000;
     --very-light-pink: #C7C7C7;
     --Text-input-field: #F7F7F7;
     --hospital-green: #ACD9B2;
     --sm: 14px;
     --md: 16px;
     --lg: 18px
 }