*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 62.5%;  */
 }

 .button{
     display: grid;
     justify-content: center;
 }

 .button-class{
     font-size: 20px;
     padding: 20px;
     margin: 20px;
 }